In [122]:
# Importation des bibliothèques
import pandas as pd
import numpy as np

In [123]:
# Importation de la base de données
paris_listings = pd.read_csv("paris_airbnb.csv")

In [124]:
#paris_listings.head(10)

In [125]:
paris_listings.set_index("host_response_rate")

,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
host_response_rate,,,,,,,,,,,,,,,,,,
100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [126]:
#paris_listings.head(4)

In [127]:
#paris_listings.info()

In [128]:
paris_listings.iloc[0]['accommodates']

2

In [129]:
# Calcul de la distance euclidienne entre notre logement qui accueil 3 personnes et le 1er logement du dataFrame
our_acc_value = 3
first_living_space_value = paris_listings.iloc[0]['accommodates']
first_distance = np.abs(first_living_space_value - our_acc_value)
print(first_distance)

1

In [130]:
# Maintenant on veut appliquer ce calcul de distance sur l'ensemble de la BDD
paris_listings['distance'] = paris_listings['accommodates'].apply(lambda x: np.abs(x - our_acc_value))

print(paris_listings['distance'].value_counts())

1     5665
0      878
2      726
3      508
4       88
5       82
6       18
7       14
9        8
11       4
8        4
13       3
10       2
Name: distance, dtype: int64

In [131]:
# On a 5665 logement qui ont distance de 1 qui peuvent ausi accueilir 3 personnes comme le notre
# 878 logements qui ont une distance de 0 qui peuvent ausi accueilir 3 personnes comme le notre
#.......

In [132]:
# Trions notre datasset pour voir les logement qui ont une distance de 0
 paris_listings[paris_listings['distance'] == 0]['accommodates']

IndentationError: unexpected indent (1615989715.py, line 2)

In [133]:
# Ici on va prendre les K premiere pour estimer notre prix, cad, les même logement qui sont affichés au-dessus du BDD
# aulieu de faire ça, on peut ramdomniser l'odre du datasset, et ensuite trier du dataframe sur la colonne 'distance'

In [134]:
# Randomisation et triage
np.random.seed(1)
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))] # on a ramdomnisé
paris_listings = paris_listings.sort_values("distance") # on a trié
paris_listings.head(10)['price']

1956     $80.00
3735     $67.00
6944     $36.00
2094    $120.00
2968     $60.00
845     $200.00
6083     $95.00
5970     $95.00
2992     $76.00
3179    $100.00
Name: price, dtype: object

In [135]:
# Calcul du Prix Moyen
#D'abord netoyons la colonne price en supprimont les $ et les points.
# regarder s'il ya de valeurs manquantes

In [136]:
print("Nombre de valeur manquantes dans la variable 'price' est : ", +  paris_listings["price"].isna().sum())

Nombre de valeur manquantes dans la variable 'price' est :  0

In [137]:
paris_listings["price"]=paris_listings["price"].apply(lambda x: x.replace(",", ""))
paris_listings["price"]=paris_listings["price"].apply(lambda x: x.replace("$", ""))
paris_listings["price"]=paris_listings["price"].apply(lambda x: float(x))
mean_price = paris_listings.iloc[0:5]['price'].mean()
print("prix de preduction de notre logement pouvant accueillir 3p basé sur d'autres logement est :", + mean_price)

prix de preduction de notre logement pouvant accueillir 3p basé sur d'autres logement est : 72.6

*Exercice sur KNN: Utiliser une fonction générale de prédiction qui prédict le prix pour toute valeur du nombre de personnes que le logement peut accueillir. Cad, une fonction qui calcul le prix suggéré pour toute valeur du nombre de personnes que le logement peut accueillir*

In [138]:
import numpy as np
import pandas as pd
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')

paris_listings["price"]=paris_listings["price"].apply(lambda x: x.replace(",", ""))
paris_listings["price"]=paris_listings["price"].apply(lambda x: x.replace("$", ""))
paris_listings["price"]=paris_listings["price"].apply(lambda x: float(x))

paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

# new_listing c'est le nombre de personnes que peux accueillir le logement chez les autres qui est K
# x represente la valeur de la variable "accommodate" le nombre de d'invités que peux accueillir le logement chez nous
# temp_df['distance']: C'est la distance euclidienne qu'on a calculée pour le champ "distance"
# nearest_neighbors: Réprésente les 5 première valeurs du prix de logement prédict

def predict_price(new_listing): 
    temp_df = paris_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)
#acc_six = predict_price(6)

print(acc_one)
print(acc_two)
print(acc_four)
#print(acc_six)

69.6
105.4
104.6

#### Evaluation de la performance du modèle

*Tester la qualité des prédictions*

Pour Tester la qualité des prédictions ou la performance du modèle, on va séparer le dataset en deux partitions:

1 set de training qui va contenir 75% des lignes du dataset

1 set de test: qui va contenir le reste des lignes du dataset soit les 25%

En suite, utiliser les lignes du set de training pour prédire la valeur de prix pour les lignes du set de test en ajoutant 
une nouvelle colonne nommée 'predicted Price' au set de test.

Enfin, comparer les valeurs de predicted_price avec les valeurs du prix actuel 'price' du set de test pour voir la
précision de la prédiction.

In [139]:
len(paris_listings)

8000

* 75% de 8000 = 6000 et le reste est 2000
Nous allons diviser notre base de donnée en deux et prendre uniquement les 6000 lignes.
Ensuite on va modifier le notre fonction de prédiction.*

In [146]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')

paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace(",", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace("$", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: float(x))
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

# Division du dataset
train_df = paris_listings.iloc[0:6000]
test_df = paris_listings.iloc[6000:]

def predict_price(new_listing): 
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)


# Cette ligne de commande rajoute la nouvelle colonne 'predict_price' de dans le set test_df. Elle represente la validation
# du train_test
test_df["predicted_price"] = test_df["accommodates"].apply(lambda x: predict_price(x))

# VOYONS LES METRIQUES D'ERREUR:
"""
La métrique d'erreur quantifie le manque de précision de nos prédictions par rapport aux valeurs réelles. Ici, la metrique 
d'erreur concerne les valeurs de prédiction du prix de location des logements du set de test avec les valeurs actuelles de
prix. On va calculer la différence entre la valeur predicte et le prix actuel en utilisant la formule de MAE qui est 
Mean Absolytly Error = valeur absolue de |price1-predict_price1| + |price2-predict_price2| + ... + |pricen-predict_pricen|/n

Un ecart metrique faible signifie que l'écart entre prix prédit et le prix actuel est faible 
Un ecart metrique élevé signifie et  l'écart entre prix prédit et le prix actuel est élevé
"""

# Pour Calculer MAE on peut utiliser la lib numpy.

test_df['error'] = np.absolute(test_df['predicted_price'] - test_df['price'])
mae = test_df['error'].mean()
print("l'erreur absolue moyenne est de:", + mae)


# Pour aller plus loin,on peut utiliser l'erreur quadratique moyenne MSE (Mean Squared Error). Il faut elever au 2

test_df['Squared Error'] = np.absolute(test_df['predicted_price'] - test_df['price'])**2
mse = test_df['Squared Error'].mean()
print("l'erreur quadratique moyenne est de:", + mse)

l'erreur absolue moyenne est de: 52.5621999999998
l'erreur quadratique moyenne est de: 6724.726040000068

#### Faisons la prédiction sur la variable bedroom cette fois-ci avec l'erreur quadratique moyenne MSE

In [147]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')

paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace(",", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace("$", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: float(x))
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

# Division du dataset
train_df = paris_listings.iloc[0:6000]
test_df = paris_listings.iloc[6000:]

def predict_price(new_listing): 
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['bedrooms'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)


# Cette ligne de commande rajoute la nouvelle colonne 'predict_price' de dans le set test_df. Elle represente la validation
# du train_test
test_df["predicted_price"] = test_df["bedrooms"].apply(lambda x: predict_price(x))

# VOYONS LES METRIQUES D'ERREUR:
"""
La métrique d'erreur quantifie le manque de précision de nos prédictions par rapport aux valeurs réelles. Ici, la metrique 
d'erreur concerne les valeurs de prédiction du prix de location des logements du set de test avec les valeurs actuelles de
prix. On va calculer la différence entre la valeur predicte et le prix actuel en utilisant la formule de MAE qui est 
Mean Absolytly Error = valeur absolue de |price1-predict_price1| + |price2-predict_price2| + ... + |pricen-predict_pricen|/n

Un ecart metrique faible signifie que l'écart entre prix prédit et le prix actuel est faible 
Un ecart metrique élevé signifie et  l'écart entre prix prédit et le prix actuel est élevé
"""

# Pour Calculer MAE on peut utiliser la lib numpy.

test_df['error'] = np.absolute(test_df['predicted_price'] - test_df['price'])
mae = test_df['error'].mean()
print("l'erreur absolue moyenne est de:", + mae)


# Pour aller plus loin,on peut utiliser l'erreur quadratique moyenne MSE (Mean Squared Error). Il faut elever au 2

test_df['Squared Error'] = np.absolute(test_df['predicted_price'] - test_df['price'])**2
mse = test_df['Squared Error'].mean()
print("l'erreur quadratique moyenne est de:", + mse)

l'erreur absolue moyenne est de: 43.47410000000008
l'erreur quadratique moyenne est de: 6281.181980000002

In [ ]:
# On voit que la moyenne sur ce modele quadratique du bedrooms est plus faible que celui d'accommodates. Donc on a un bon modele

#### Racine Carrée de l'erreur quadratique moyenne (RMSE): 

##### RMSE = racine carrée de (MSE). RMSE nous aide à identifier le modele le plus performant sur une base relative. RMSE est une mesure d'erreur. Mais cela nous aide pas à savoir si la performance du modele est assez bonne de façon générale.

In [148]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
np.random.seed(1)

paris_listings = pd.read_csv('paris_airbnb.csv')

paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace(",", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: x.replace("$", ""))
paris_listings["price"] = paris_listings["price"].apply(lambda x: float(x))
paris_listings = paris_listings.loc[np.random.permutation(len(paris_listings))]

# Division du dataset
train_df = paris_listings.iloc[0:6000]
test_df = paris_listings.iloc[6000:]

def predict_price(new_listing): 
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['bedrooms'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbors = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbors.mean()
    return(predicted_price)


# Cette ligne de commande rajoute la nouvelle colonne 'predict_price' de dans le set test_df. Elle represente la validation
# du train_test
test_df["predicted_price"] = test_df["bedrooms"].apply(lambda x: predict_price(x))

# VOYONS LES METRIQUES D'ERREUR:
"""
La métrique d'erreur quantifie le manque de précision de nos prédictions par rapport aux valeurs réelles. Ici, la metrique 
d'erreur concerne les valeurs de prédiction du prix de location des logements du set de test avec les valeurs actuelles de
prix. On va calculer la différence entre la valeur predicte et le prix actuel en utilisant la formule de MAE qui est 
Mean Absolytly Error = valeur absolue de |price1-predict_price1| + |price2-predict_price2| + ... + |pricen-predict_pricen|/n

Un ecart metrique faible signifie que l'écart entre prix prédit et le prix actuel est faible 
Un ecart metrique élevé signifie et  l'écart entre prix prédit et le prix actuel est élevé
"""

# Pour Calculer MAE on peut utiliser la lib numpy.

test_df['error'] = np.absolute(test_df['predicted_price'] - test_df['price'])
mae = test_df['error'].mean()
print("l'erreur absolue moyenne est de:", + mae)


test_df['Squared Error'] = np.absolute(test_df['predicted_price'] - test_df['price'])**2
mse = test_df['Squared Error'].mean()
rmse = mse ** (1/2)
print("la racine carrée de l'erreur quadratique moyenne est de:", + rmse)

l'erreur absolue moyenne est de: 43.47410000000008
la racine carrée de l'erreur quadratique moyenne est de: 79.25390829479643

In [ ]:
# On a la Racine Carrée Quadratique Moyenne RMSE de 79.25 $. Ce qui signifie que avec ce modèle, on peut s'attendre à une 
# prédiction affichant une baisse de 79.25 $ en moyenne pour les valeurs des prix predites. L'objectif, cette de reduire 
# le prix de cet erreur autant que possible pour améliorer l'efficacité du modèle.

#### Exemple de Coparaison des erreurs:

In [150]:
errors_one = pd.Series([5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10])
errors_two = pd.Series([5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 10, 5, 1000])

In [151]:
mae_one = errors_one.sum()/len(errors_one)
rmse_one = np.sqrt((errors_one**2).sum()/len(errors_one))

In [152]:
mae_two = errors_two.sum()/len(errors_two)
rmse_two = np.sqrt((errors_two**2).sum()/len(errors_two))

In [153]:
print(mae_one)
print(rmse_one)

7.5
7.905694150420948

In [154]:
print(mae_two)
print(rmse_two)

62.5
235.82302686548658

##### En conclusion: Plus souvent la valeur RMSE est < à la valeur MAE car nous prenons la racine carrée des erreurs au carrée.
La seule différence entre ces deux ensemble d'erreurs c'est la présence d'une valeur extrême dans la base de donnée. C'est 
le cas ici, le 1000.

L'erreur Moyenne Absolue MAE: et la racine carrée de L'erreur Quadratique Moyenne RMSE sont les deux mésures les plus courament utilisées pour mésurer la précision des variables continue.

la racine carrée de L'erreur Quadratique Moyenne RMSE: A l'avantage de pénaliser davantage les grosses erruers, elles peuvent donc plus approprier dans cezrtains cas.